@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.power-lap-board {
    height: 100%;
    width: 100%;
}

.table-title{
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: #1d7e9c;
    left: 825px;
    top: 175px;
    font-size: 40px;
}

.car-table {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    left: 6vw;
    top: 150px;
    width: 90vw;
    height: 300px;
    font-family: 'Anton', sans-serif;
    color: #1d7e9c;
    font-size: 40px;
    border: 2px solid black;
    box-shadow: 2px 3px black;
    margin-top: 10px;
    margin-bottom: 40px;
}

.car-img img{
    height: 200px;
    width: 350px;
}
