@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.profile-post {
    position: relative;
    width: 500px;
    left: 17%;
    top: -80px;
}

.profile-post-box {
    position: relative;
    min-height: 200px;
    top: -125px;
    left: 150px;
    width: 1000px;
    background-color: white;
    margin-top: 20px;
    opacity: 0.5;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 30px;
    font-family: 'Anton', sans-serif;
    border: #1d7e9c 5px solid;
    box-shadow: 5px 3px;
}

.profile-post-title h1 {
    font-size: 30px;
}

.profile-post-box h4 {
    padding-top: 5px;
    font-size: 13;
}

.profile-post-content {
    padding-top: 50px;
    padding-left: 30px;
    font-size: 20px;
}

#edit-btn {
    height: 30px;
    width: 100px;
    position: absolute;
    right: 70px;
    top: 15px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

#edit-btn:hover {
    background-color: #1d7e9c;
}

#delete-btn {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 25px;
    top: 15px;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}

#delete-btn:hover {
    background-color: red;
}

