@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.collapsed-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: -15px;
    left: 0;
    padding-top: 60px;
    font-family: 'Anton', sans-serif;
    padding-top: 400px;
}

.sidebar{
    height: 80%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 10px;
    overflow-x: hidden;
    padding-top: 130px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    border-radius: 5px;
    background-color: #1d7e9c;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidebar a:hover {
    color: black;
}

.nav-links {
    margin-top: 30px;
}

.open-menu {
    height: 100px;
    width: 50px;
    background-color: #1d7e9c;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

.open-menu:hover {
    background-color: white;
    cursor: pointer;
}