#stig-one {
    position: relative;
    top: 20vh;
    left: 42vw;
    bottom: 100px;
}

#stig-one:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.stig-display {
    position: relative;
    left: 5vw;
    width: 30vw;
    height: 80vh;
}

.stig-display .first-title {
    position: relative;
    top: -55vh;
    left: 10vw;
    font-family: 'Anton', sans-serif;
    color: #1d7e9c;
    font-size: 50px;
    margin-bottom: 30px;
}

.stig-display li {
    position: relative;
    top: -50vh;
    left: 3vw;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 40px;
}

.stig-display .second-title {
    position: relative;
    width: 400px;
    right: 47vw;
    top: -400px;
    color: #1d7e9c;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

.video-box {
    position: absolute;
    top: 290px;
    right: 100px;
}

.video-box h1 {
    margin-bottom: 60px;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: #1d7e9c;
    margin-left: 225px;
}

.videos {
    margin-bottom: 50px;
    height: 20vh;
    width: 40vw;
}

